<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>

<!--
 https://getbootstrap.com/docs/4.0/components/navbar/

 -->


<body>
<div class="container">
    <header class="">
        <h1>page 1</h1>
    </header>

    <nav class="navbar navbar-dark bg-dark navbar-expand-md ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        index
                    </a>
                </li>
                <li class="nav-item">
                    <a href="page1.html" class="nav-link">
                        page1
                    </a>
                </li>
                <li class="nav-item">
                    <a href="page2.html" class="nav-link">
                        page2
                    </a>
                </li>
                <li class="nav-item">
                    <a href="page3.html" class="nav-link">
                        page3
                    </a>
                </li>
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                 -->
            </ul>
        </div>
    </nav>
    <section>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias animi architecto
                aspernatur assumenda commodi dolorum ea, eius eum excepturi id iste laudantium magni modi nam natus
                nobis,
                perferendis perspiciatis placeat quia quis quo reiciendis rem repellat sed sint unde velit voluptas
                voluptatum? Ab asperiores dolor magni odit quisquam reprehenderit sunt? Ab adipisci amet animi atque
                dolore
                doloremque quam ut. Accusamus deserunt, dolorem eaque esse excepturi harum itaque nemo possimus
                praesentium
                recusandae repellat similique ullam! Aut debitis dolores maiores maxime, minima modi, non obcaecati quam
                qui
                ratione suscipit veritatis voluptatum. Autem beatae hic in ipsum nobis quam sint, vero voluptatibus!
                Aliquid
                aspernatur, dolore ducimus ea et expedita harum id iure maxime molestias mollitia, nulla officiis omnis
                tempora veritatis. Architecto consequuntur dolorum est ipsam officia! A adipisci asperiores aspernatur
                cumque debitis delectus dicta enim error esse eum excepturi harum id illo iusto libero minus molestias
                necessitatibus nemo nesciunt odit officia officiis pariatur quia quod sed temporibus, vitae
                voluptatibus.
                Dolorum earum eius harum hic itaque labore, maxime mollitia non odio perferendis possimus quasi quia
                sint,
                sunt, tenetur vel voluptatibus. A aliquam aliquid aut consequuntur corporis dignissimos dolore est eum
                expedita fugit, iusto neque perspiciatis, placeat qui quisquam tempore ut vel! Delectus.
            </p>
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum illo repudiandae saepe tempore voluptate.
                Alias aperiam atque, beatae est in maiores officiis possimus praesentium quam quos repellendus totam,
                unde.
                Adipisci aliquid dolor illum nihil nostrum quod recusandae repudiandae vero voluptates. Nemo, numquam,
                repellat! Accusamus, eaque exercitationem impedit iusto nam nulla quod. Commodi error explicabo facere
                provident sequi tenetur. Atque debitis deleniti ducimus eligendi et eveniet facere illo ipsum modi nemo,
                odio placeat quam quis reiciendis voluptas! Blanditiis consectetur consequuntur dignissimos dolorem
                eaque
                earum eos est fugiat illo illum molestiae nemo odit quaerat quasi totam, veritatis voluptatibus? Alias
                debitis eveniet officiis.
            </p>
        </div>
    </section>
    <footer>
        <p>
            this is footer
        </p>
    </footer>
</div>
</body>
</html>